#main {
  margin: auto;
  width: 50%;
  height: auto;
  background: #ff9600;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
}
#main h3 {
  font-size: 200px;
  font-weight: bold;
  color: #fff;
}
